<ion-header>

  <ion-navbar color="heads">
    <ion-title>reporte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-image">
	<ion-card padding color="inners">
	    <ion-card-header>
	      <h2><label>Reportar</label></h2>
	    </ion-card-header>
	    
		<button ion-button full color="secondary" (click)="tomarFoto()" >
			<ion-icon name="camera"></ion-icon>&nbsp; Tomar foto
		</button>

		<ion-grid>
			<ion-row>
				<ion-col col-6 *ngFor="let foto of fotos; let id = index">
					<ion-card class="block">
						<ion-icon name="trash" class="deleteIcon" (click)="borrarFoto(id)"></ion-icon>
						<img [src]="foto" *ngIf="foto" />
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>
  	</ion-card>
</ion-content>
